.modal-header.my-panel.text-left
  %h5
    Add a New Feed
= render(UnsiloWeb.SharedView, "show_flash.html", conn: @conn)

= form_for @changeset, Routes.feed_path(@conn, :create), [multipart: true], fn f -> 
  .modal-body{style: "padding-top: 0px;"}
    - if @changeset.action do
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>

    %p
      = label f, :url
      = text_input f, :url
      = error_tag f, :url
      = hidden_input f, :river_id

  .modal-footer
    = submit "Create Feed", class: "btn btn-success"
<% end %>
