%h1
  Show User

%ul
  %li
    %strong
      Username:
    = @user.name

  %li
    %strong
      email
    = @user.email

%a.btn.btn-outline-success.ml-3.action_btn{href: "#", data-modal-src-url: "#{Routes.user_path(@conn, :edit, @user)}", data-success-redirect-url: "#{Routes.user_path(@conn, :show, @user)}"}
  = "Edit"
