.row.justify-content-between.river_header
  .col
    %span.story_count
      = "#{Enum.count(@stories)}"
    = " stories in #{Enum.count(@river.feeds)} feeds"
  - if can?(@user, edit(@river)) do
    .col-auto
      %a.btn.btn-sm.card-link.action_btn{href: "#", data-post-url: "#{Routes.river_path(@conn, :update, @river)}", data-post-cmd: "mark_update", data-success-dom-dest: ".tab-pane#river_#{@river.id}"}
        %i.fa.fa-refresh
      %a.btn.btn-sm{href: "#{Routes.river_path(@conn, :edit, @river)}"}
        %i.fa.fa-pencil
      %a.btn.btn-sm.action_btn{href: "#", data-modal-delete-url: "#{Routes.river_path(@conn, :delete, @river)}", data-success-dom-dest: "#all_rivers_list"}
        %i.fa.fa-trash

- for story <- sorted_stories(@stories) do
  = render(UnsiloWeb.StoryView, "_line_item.html", conn: @conn, story: story, user: @user)

