
.row
  .col.col-6.offset-3
    - if ! is_nil(@spot.logo) do
      %img{src: "/images#{get_logo_url(@spot)}"}

  .col-9.col
    %h1
      = display_title(@spot)
      .right
        %a.btn.btn-lg.action_btn{href: "#", data-modal-src-url: "#{Routes.spot_path(@conn, :edit, @spot)}", data-success-dom-dest: "#spot_list"}
          %i.fa.fa-pencil
    %h5
      = raw( Enum.join(@spot.domains, "<br>"))
    %p
      = @spot.tagline
    %p
      = @spot.description

  .col-6.col
    - if @spot.allow_subscriptions do
      = subscriber_description(@spot)
      %ul#sub_list
        = render(UnsiloWeb.SubscriberView, "_listing.html", conn: @conn, spot: @spot)
