!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "viewport", :content => "#{page_description(@conn)}"}
    %title
      = page_title(@conn)

    %link{rel: "stylesheet", href: "#{Routes.static_path(@conn, "/css/app.css")}"}
  %body
    .container-fluid.background-content#container
      %header#header
        .row
          #logo
            %a{href: "#{Routes.page_path(@conn, :index)}"}
              = Application.get_env(:unsilo, :app_domain)
      %main#body{:role => "main"}
        = render @view_module, @view_template, assigns
      %footer#footer
        .container-fluid.background-content#container
          .row
            .half_page
              #scaled_tb
            .half_page
              .right
                #logins
                  = session_buttons(@conn)

    .modal#js_modal_holder
      .modal-dialog
        .modal-content#js_modal_content
    <script src="#{Routes.static_path(@conn, "/js/app.js")}"></script>

